.soft-skills {
  display: flex;
  justify-content: space-between;
}

.soft-skill {
  background-color: #f2f2f2;
  border-radius: 8px;
  text-align: center;
  width: 200px;
}

.soft-skill-rating {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 1;
}

.soft-skill-rating::before {
  background-clip: text;
  background: linear-gradient(90deg, #fc0 var(--percent), #fff var(--percent));
  content: "★★★★★";
  letter-spacing: 3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
