.skill-rating {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-family: Times;
  font-size: 30px;
  line-height: 1;
}

.skill-rating::before {
  background-clip: text;
  background: linear-gradient(90deg, #fc0 var(--percent), #fff var(--percent));
  content: "★★★★★";
  letter-spacing: 3px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
