:root {
  --fontColor: #292929;
  --bgColor: #ebebeb;
  --header: #610ce9;
  --general: #2c34c9;
  --effect: #4aa2f8;

  --fontColorClosed: #1b1b1b;
  --bgColorClosed: #989898;
  --headerClosed: #3f0897;
  --generalClosed: #1d2282;
  --effectClosed: #076dc0;

  --fontColorOpen: #747474;
  --bgColorOpen: #f2f2f2;
  --headerOpen: #975bf6;
  --generalOpen: #7277e0;
  --effectOpen: #7fc3fa;
}

* {
  color: var(--fontColor);
}

body {
  background-color: var(--bgColor);
}

.headerOption:hover {
  color: var(--effectOpen);
}

/* Header */
.header {
  background-color: var(--effectClosed);
}
/* End Header */

/* Icons */

/* End Icons */

/* Stars */
.classificacao {
  display: flex;
  justify-content: space-between;
}

.classificacao {
  background-color: #f2f2f2;
  border-radius: 8px;
  text-align: center;
  width: 200px;
}

.qualidade {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 20px;
  line-height: 1;
}

.qualidade::before {
  background: linear-gradient(90deg, #fc0 var(--percent), #fff var(--percent));
  content: "★★★★★";
  letter-spacing: 3px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* End Stars */

/* Cards */
.card {
  max-width: 18rem;
  margin-bottom: 40px;
}

.card-img {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.product {
  background-size: contain;
}
/* End Cards */

/*css página product*/
.colunatres {
  color: #3483fa;
}
.botoes {
  color: white;
} /*fim css página product*/
